.no-mar-pad {
    padding: 0px !important;
    margin: 0px !important;
}

nav {
    background-color : #000529 !important;
    z-index: 99999 !important;
}

.brand-logo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
}

footer {
    padding: 29px 0px 0px 0px;
    z-index: 1 !important;
    position: relative;
}

.last-footer {
    background-color: #000529;
    padding: 15px 0px;
}

.last-footer p {
    font-weight: bold;
}

.theme-head {
    background-color: #000529;
}

.theme-head-text {
    color: #000529;
}

.welcome-content {
    padding : 20px;
    margin-bottom: 0px;
}

.welcome-content p.welcome-text {
    font-size: 24px;
}

.welcome-content p.welcome-location {
    font-size: 24px;
}

#places {
    padding: 20px 20px;
}

.heading {
    padding: 0px 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.places {
    border-radius: 5px;
    padding: 20px 20px !important;
    box-shadow: 2px 1px 15px #ededed;
    transition: all 20ms ease-in;
    margin: 20px 0px;
}

.places:hover {
    box-shadow: 2px 1px 20px #ccc ;
}

.place-head {
    font-size: 18px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    margin-bottom: 10px;
}

.place-location {
    font-size: 16px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    margin-bottom: 8px;
}

.place-location span {
    font-size: 16px;
    font-weight: normal;
}

.place-distance {
    font-size: 16px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    margin-bottom: 8px;
}

.place-distance span {
    font-size: 16px;
    font-weight: normal;
}

.place-slot {
    font-size: 16px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    margin-bottom: 8px;
}

.place-slot span {
    font-size: 16px;
    font-weight: normal;
}

@media only screen and (min-width: 993px) {
    .sidenav-trigger {
        display: block !important;
    }
}

@media screen and (max-width: 602px) {
    .brand-logo {
        margin: 5px 10px;
    }
}